p{color: white (17, 0, 255)}
h1 {color:blueviolet}
h2 {color:rgb(128, 0, 248)}
.cuadro {background-color:lightgray}
h1 {font-size: 100px;}
body {background-color: #f4f4;}
header {background-image: -moz-linear-gradient(#f4f4f4);}
h1{ font-weight: arial;}
